.header {
    background-color: #cfd8ef;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo h1 {
    margin: 0;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
  }
  
  .navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  